<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{0,0},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{146,0},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{292,0},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{0,154},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{146,154},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{292,154},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{0,308},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{146,308},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{292,308},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{0,462},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{146,462},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{292,462},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{0,616},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{146,616},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>run_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,154}</string>
                <key>spriteSourceSize</key>
                <string>{146,154}</string>
                <key>textureRect</key>
                <string>{{292,616},{146,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>role.png</string>
            <key>size</key>
            <string>{438,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c71ca6777ee806ed0a94b48ce4d682f:08702c7407258821125beff3139f624b:eee9ac4705ce2dddab0b9fdbb6e99b8f$</string>
            <key>textureFileName</key>
            <string>role.png</string>
        </dict>
    </dict>
</plist>
